<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <title>搜尋結果</title>
  </head>
  <body>
    <br /><br /><br /><br /><br /><br />
    <div id="navbar-container"></div>
    <div class="container">
      <!-- 自動生成課程數量、使用者輸入關鍵字內容 -->
      <h3>有x項{關鍵字}結果</h3>
      <hr />
      <!-- 自動生成課程卡片區 -->
      <div
        class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-4 border"
      >
        <!-- 課程卡片1 -->
        <div class="col border">
          <div>
            <!-- 課程圖片 -->
            <img src="../photo/側視圖片.webp" class="card-img-top img-fluid" />
            <div class="card-body">
              <!-- 課程標題 -->
              <h3 class="card-title">每天都在畫圖的路上｜插畫速寫創作課</h3>
              <br />
              <!-- 講師名字 -->
              <a class="card-body" href=""> hank</a>
              <br />
              <!-- 評價/時間 -->
              <div class="row justify-content-between border">
                <span class="col">評價：4.5</span>
                <span class="col">時間：2hr</span>
              </div>
              <!-- 價格 -->
              <h4>價格：NT$5000</h4>
            </div>
          </div>
        </div>
        <!-- 課程卡片2 -->
        <div class="col border">
          <div>
            <!-- 課程圖片 -->
            <img src="../photo/側視圖片.webp" class="card-img-top img-fluid" />
            <div class="card-body">
              <!-- 課程標題 -->
              <h3 class="card-title">每天都在畫圖的路上｜插畫速寫創作課</h3>
              <br />
              <!-- 講師名字 -->
              <a class="card-body" href=""> hank</a>
              <br />
              <!-- 評價/時間 -->
              <div class="row justify-content-between border">
                <span class="col">評價：4.5</span>
                <span class="col">時間：2hr</span>
              </div>
              <!-- 價格 -->
              <h4>價格：NT$5000</h4>
            </div>
          </div>
        </div>
        <!-- 課程卡片3 -->
        <div class="col border">
          <div>
            <!-- 課程圖片 -->
            <img src="../photo/側視圖片.webp" class="card-img-top img-fluid" />
            <div class="card-body">
              <!-- 課程標題 -->
              <h3 class="card-title">每天都在畫圖的路上｜插畫速寫創作課</h3>
              <br />
              <!-- 講師名字 -->
              <a class="card-body" href=""> hank</a>
              <br />
              <!-- 評價/時間 -->
              <div class="row justify-content-between border">
                <span class="col">評價：4.5</span>
                <span class="col">時間：2hr</span>
              </div>
              <!-- 價格 -->
              <h4>價格：NT$5000</h4>
            </div>
          </div>
        </div>
        <!-- 課程卡片4 -->
        <div class="col border">
          <div>
            <!-- 課程圖片 -->
            <img src="../photo/側視圖片.webp" class="card-img-top img-fluid" />
            <div class="card-body">
              <!-- 課程標題 -->
              <h3 class="card-title">每天都在畫圖的路上｜插畫速寫創作課</h3>
              <br />
              <!-- 講師名字 -->
              <a class="card-body" href=""> hank</a>
              <br />
              <!-- 評價/時間 -->
              <div class="row justify-content-between border">
                <span class="col">評價：4.5</span>
                <span class="col">時間：2hr</span>
              </div>
              <!-- 價格 -->
              <h4>價格：NT$5000</h4>
            </div>
          </div>
        </div>
        <!-- 課程卡片5 -->
        <div class="col border">
          <div>
            <!-- 課程圖片 -->
            <img src="../photo/側視圖片.webp" class="card-img-top img-fluid" />
            <div class="card-body">
              <!-- 課程標題 -->
              <h3 class="card-title">每天都在畫圖的路上｜插畫速寫創作課</h3>
              <br />
              <!-- 講師名字 -->
              <a class="card-body" href=""> hank</a>
              <br />
              <!-- 評價/時間 -->
              <div class="row justify-content-between border">
                <span class="col">評價：4.5</span>
                <span class="col">時間：2hr</span>
              </div>
              <!-- 價格 -->
              <h4>價格：NT$5000</h4>
            </div>
          </div>
        </div>
        <!-- 課程卡片6 -->
        <div class="col border">
          <div>
            <!-- 課程圖片 -->
            <img src="../photo/側視圖片.webp" class="card-img-top img-fluid" />
            <div class="card-body">
              <!-- 課程標題 -->
              <h3 class="card-title">每天都在畫圖的路上｜插畫速寫創作課</h3>
              <br />
              <!-- 講師名字 -->
              <a class="card-body" href=""> hank</a>
              <br />
              <!-- 評價/時間 -->
              <div class="row justify-content-between border">
                <span class="col">評價：4.5</span>
                <span class="col">時間：2hr</span>
              </div>
              <!-- 價格 -->
              <h4>價格：NT$5000</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <div id="footer-container"></div>
    <script src="../js/bootstrap.bundle.js"></script>
    <script>
      // 使用 JavaScript 動態載入navbar.html
      fetch("../plug/navbar.html")
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("navbar-container").innerHTML = data;
        });
      // 使用 JavaScript 動態載入footer.html
      fetch("../plug/footer.html")
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("footer-container").innerHTML = data;
        });
    </script>
  </body>
</html>
