<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <title>探索課程</title>
    <style>
      /* 自動顯示類別名稱樣式 */
      #category {
        font-size: 20px;
      }
      /* 類別相片樣式 */
      #categoryPhoto {
        width: 300px;
      }
      /* 大類別樣式 */
      .bigC {
        font-size: 25px;
        border: 1px solid black;
      }
      /* 小類別樣式 */
      .smallC {
        font-size: 20px;
        /* border: 1px solid black; */
        display: flex;
        flex-wrap: wrap; /* 允許換行 */
        gap: 10px; /* 選項之間的間距 */
      }
      .smallCLink {
        flex-basis: calc(100% / 6 - 10px); /* 每個項目的寬度，使得一行六個 */
        text-align: center; /* 讓文字居中 */
        display: inline-block; /* 根據內容寬度調整 */
        padding: 5px 10px; /* 內邊距 */
        border: 1px solid #dee2e6; /* 邊框 */
        text-align: center;
        white-space: nowrap; /* 防止文字換行 */
        box-sizing: border-box;
      }

      .smallCLink:hover {
        background-color: #f0f0f0; /* 添加滑過效果 */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="border">
        探索課程
        <!-- 自動顯示類別名稱 -->
        <span id="category" class="border">全部</span>
      </h1>
      <!-- 選擇類別區、圖片 -->
      <div class="row justify-content-between border">
        <!-- 大類別 -->
        <div class="row col-7 bigC border">
          <a href="" class="col">全部</a>
          <a href="" class="col">生活</a>
          <a href="" class="col">音樂</a>
          <a href="" class="col">商業</a>
          <a href="" class="col">語言</a>
          <!-- 小類別，根據資料庫大類別中的小類別自動生成 -->
          <div class="row smallC border">
            <a href="" class="smallCLink">全部</a>
            <a href="" class="smallCLink">生活</a>
            <a href="" class="smallCLink">音樂</a>
            <a href="" class="smallCLink">音樂</a>
            <a href="" class="smallCLink">音樂</a>
            <a href="" class="smallCLink">音樂</a>
            <a href="" class="smallCLink">手工課程</a>
          </div>
        </div>
        <!-- 圖片區，可能會根據不同大類別換圖片-->
        <img
          id="categoryPhoto"
          src="../photo/圖片一.png"
          class="col-4 border"
        />
      </div>
      <hr />
      <!-- 篩選區下拉選單，根據選擇課程類別篩選 -->
      <div class="btn-group">
        <!-- 此按鈕應跟著篩選選項做改變 -->
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          篩選
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">最新課程</a></li>
          <li><a class="dropdown-item" href="#">最高人氣</a></li>
          <li><a class="dropdown-item" href="#">最低價格</a></li>
        </ul>
      </div>
      <!-- 課程卡片，課程圖片、課程名稱、講師名字、評分、時長、價格 -->
      <!-- 大螢幕時為4張卡片，螢幕變小變為2、1-->
      <!-- 變1時轉為橫列非卡片顯示，怎麼做? -->
      <!-- 先設框線，記得刪掉 -->
      <div
        class="row row-cols-xs-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-4 border"
      >
        <!-- 課程卡片1 -->
        <div class="col border">
          <div>
            <img src="../photo/圖片一.png" class="card-img-top img-fluid" />
            <div class="card-body">
              <strong>
                <h5 class="card-title">侑美與夢魘繪師</h5>
              </strong>
              <a class="card-body" href="./作者頁面/布蘭登.山德森.html">
                布蘭登．山德森</a
              ><br />
              <a class="card-body" href="./出版社頁面/奇幻基地.html">
                奇幻基地</a
              >
            </div>
          </div>
        </div>
        <!-- 課程卡片2 -->
        <div class="col border">
          <div>
            <img src="../photo/圖片一.png" class="card-img-top img-fluid" />
            <div class="card-body">
              <strong>
                <h5 class="card-title">侑美與夢魘繪師</h5>
              </strong>
              <a class="card-body" href="./作者頁面/布蘭登.山德森.html">
                布蘭登．山德森</a
              ><br />
              <a class="card-body" href="./出版社頁面/奇幻基地.html">
                奇幻基地</a
              >
            </div>
          </div>
        </div>
        <!-- 課程卡片3 -->
        <div class="col border">
          <div>
            <img src="../photo/圖片一.png" class="card-img-top img-fluid" />
            <div class="card-body">
              <strong>
                <h5 class="card-title">侑美與夢魘繪師</h5>
              </strong>
              <a class="card-body" href="./作者頁面/布蘭登.山德森.html">
                布蘭登．山德森</a
              ><br />
              <a class="card-body" href="./出版社頁面/奇幻基地.html">
                奇幻基地</a
              >
            </div>
          </div>
        </div>
        <!-- 課程卡片4 -->
        <div class="col border">
          <div>
            <img src="../photo/圖片一.png" class="card-img-top img-fluid" />
            <div class="card-body">
              <strong>
                <h5 class="card-title">侑美與夢魘繪師</h5>
              </strong>
              <a class="card-body" href="./作者頁面/布蘭登.山德森.html">
                布蘭登．山德森</a
              ><br />
              <a class="card-body" href="./出版社頁面/奇幻基地.html">
                奇幻基地</a
              >
            </div>
          </div>
        </div>
        <!-- 課程卡片5 -->
        <div class="col border">
          <div>
            <img src="../photo/圖片一.png" class="card-img-top img-fluid" />
            <div class="card-body">
              <strong>
                <h5 class="card-title">侑美與夢魘繪師</h5>
              </strong>
              <a class="card-body" href="./作者頁面/布蘭登.山德森.html">
                布蘭登．山德森</a
              ><br />
              <a class="card-body" href="./出版社頁面/奇幻基地.html">
                奇幻基地</a
              >
            </div>
          </div>
        </div>
        <!-- 課程卡片6 -->
        <div class="col border">
          <div>
            <img src="../photo/圖片一.png" class="card-img-top img-fluid" />
            <div class="card-body">
              <strong>
                <h5 class="card-title">侑美與夢魘繪師</h5>
              </strong>
              <a class="card-body" href="./作者頁面/布蘭登.山德森.html">
                布蘭登．山德森</a
              ><br />
              <a class="card-body" href="./出版社頁面/奇幻基地.html">
                奇幻基地</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../js/bootstrap.bundle.js"></script>
  </body>
</html>
