<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <title>探索課程</title>
  </head>
  <body>
    <!-- 將導航列插入這個容器 -->
    <div id="navbar-container"></div>
    <br /><br /><br /><br /><br /><br />
    <div class="container">
      <h1 class="border">
        探索課程
        <!-- 自動顯示類別名稱 -->
        <span id="category" class="border">全部</span>
      </h1>
      <!-- 選擇類別區、圖片 -->
      <div class="row justify-content-between border">
        <!-- 大類別 -->
        <div class="row col-7 bigC border">
          <a href="" class="col">全部</a>
          <a href="" class="col">生活</a>
          <a href="" class="col">音樂</a>
          <a href="" class="col">商業</a>
          <a href="" class="col">語言</a>
          <!-- 小類別，根據資料庫大類別中的小類別自動生成 -->
          <div class="row smallC border">
            <a href="" class="smallCLink">全部</a>
            <a href="" class="smallCLink">生活</a>
            <a href="" class="smallCLink">音樂</a>
            <a href="" class="smallCLink">音樂</a>
            <a href="" class="smallCLink">音樂</a>
            <a href="" class="smallCLink">音樂</a>
            <a href="" class="smallCLink">手工課程</a>
          </div>
        </div>
        <!-- 圖片區，可能會根據不同大類別換圖片-->
        <img
          id="categoryPhoto"
          src="https://opendoodles.s3-us-west-1.amazonaws.com/coffee.gif"
          class="col-4 border"
        />
      </div>
      <hr />
      <!-- 篩選區下拉選單，根據選擇課程類別篩選 -->
      <div class="btn-group mb-5">
        <!-- 此按鈕應跟著篩選選項做改變 -->
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          篩選
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">最新課程</a></li>
          <li><a class="dropdown-item" href="#">最高人氣</a></li>
          <li><a class="dropdown-item" href="#">最低價格</a></li>
        </ul>
      </div>
      <!-- 課程卡片，課程圖片、課程名稱、講師名字、評分、時長、價格 -->
      <!-- 大螢幕時為4張卡片，螢幕變小變為2、1-->
      <!-- 變1時轉為橫列非卡片顯示，怎麼做? -->
      <!-- 先設框線，記得刪掉 -->
      <div
        class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-4 border"
      >
        <!-- 課程卡片1 -->
        <div class="col border">
          <div>
            <!-- 課程圖片 -->
            <img src="../photo/側視圖片.webp" class="card-img-top img-fluid" />
            <div class="card-body">
              <!-- 課程標題 -->
              <h3 class="card-title">每天都在畫圖的路上｜插畫速寫創作課</h3>
              <br />
              <!-- 講師名字 -->
              <a class="card-body" href=""> hank</a>
              <br />
              <!-- 評價/時間 -->
              <div class="row justify-content-between border">
                <span class="col">評價：4.5</span>
                <span class="col">時間：2hr</span>
              </div>
              <!-- 價格 -->
              <h4>價格：NT$5000</h4>
            </div>
          </div>
        </div>
        <!-- 課程卡片2 -->
        <div class="col border">
          <div>
            <!-- 課程圖片 -->
            <img src="../photo/側視圖片.webp" class="card-img-top img-fluid" />
            <div class="card-body">
              <!-- 課程標題 -->
              <h3 class="card-title">每天都在畫圖的路上｜插畫速寫創作課</h3>
              <br />
              <!-- 講師名字 -->
              <a class="card-body" href=""> hank</a>
              <br />
              <!-- 評價/時間 -->
              <div class="row justify-content-between border">
                <span class="col">評價：4.5</span>
                <span class="col">時間：2hr</span>
              </div>
              <!-- 價格 -->
              <h4>價格：NT$5000</h4>
            </div>
          </div>
        </div>
        <!-- 課程卡片3 -->
        <div class="col border">
          <div>
            <!-- 課程圖片 -->
            <img src="../photo/側視圖片.webp" class="card-img-top img-fluid" />
            <div class="card-body">
              <!-- 課程標題 -->
              <h3 class="card-title">每天都在畫圖的路上｜插畫速寫創作課</h3>
              <br />
              <!-- 講師名字 -->
              <a class="card-body" href=""> hank</a>
              <br />
              <!-- 評價/時間 -->
              <div class="row justify-content-between border">
                <span class="col">評價：4.5</span>
                <span class="col">時間：2hr</span>
              </div>
              <!-- 價格 -->
              <h4>價格：NT$5000</h4>
            </div>
          </div>
        </div>
        <!-- 課程卡片4 -->
        <div class="col border">
          <div>
            <!-- 課程圖片 -->
            <img src="../photo/側視圖片.webp" class="card-img-top img-fluid" />
            <div class="card-body">
              <!-- 課程標題 -->
              <h3 class="card-title">每天都在畫圖的路上｜插畫速寫創作課</h3>
              <br />
              <!-- 講師名字 -->
              <a class="card-body" href=""> hank</a>
              <br />
              <!-- 評價/時間 -->
              <div class="row justify-content-between border">
                <span class="col">評價：4.5</span>
                <span class="col">時間：2hr</span>
              </div>
              <!-- 價格 -->
              <h4>價格：NT$5000</h4>
            </div>
          </div>
        </div>
        <!-- 課程卡片5 -->
        <div class="col border">
          <div>
            <!-- 課程圖片 -->
            <img src="../photo/側視圖片.webp" class="card-img-top img-fluid" />
            <div class="card-body">
              <!-- 課程標題 -->
              <h3 class="card-title">每天都在畫圖的路上｜插畫速寫創作課</h3>
              <br />
              <!-- 講師名字 -->
              <a class="card-body" href=""> hank</a>
              <br />
              <!-- 評價/時間 -->
              <div class="row justify-content-between border">
                <span class="col">評價：4.5</span>
                <span class="col">時間：2hr</span>
              </div>
              <!-- 價格 -->
              <h4>價格：NT$5000</h4>
            </div>
          </div>
        </div>
        <!-- 課程卡片6 -->
        <div class="col border">
          <div>
            <!-- 課程圖片 -->
            <img src="../photo/側視圖片.webp" class="card-img-top img-fluid" />
            <div class="card-body">
              <!-- 課程標題 -->
              <h3 class="card-title">每天都在畫圖的路上｜插畫速寫創作課</h3>
              <br />
              <!-- 講師名字 -->
              <a class="card-body" href=""> hank</a>
              <br />
              <!-- 評價/時間 -->
              <div class="row justify-content-between border">
                <span class="col">評價：4.5</span>
                <span class="col">時間：2hr</span>
              </div>
              <!-- 價格 -->
              <h4>價格：NT$5000</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../js/bootstrap.bundle.js"></script>
    <script>
      // 使用 JavaScript 動態載入navbar.html
      fetch("../plug/navbar.html")
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("navbar-container").innerHTML = data;
        });
    </script>
  </body>
</html>
